
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #231f20;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

.header-stripe{
  font-family: 'Poppins';
  text-align: center;
  color: #ffffff;
  opacity: 0.81;
  margin: 8px 0;
  width: 100%;
  line-height: normal;
  letter-spacing: normal;

}
.header-stripe-yellow{
  background-color: #fcce00;
  height: 128px;
}

.header-stripe-orange{
  background-color: #ff6b00;
  height: 64px;
}

.header-stripe-red{
  background-color: #e02020;
  height: 32px;

}

.header-stripe-purple{
  background-color: #b620e0;
  height: 16px;

}

.header-stripe-blue{
  background-color: #6236ff;
  height: 8px;

}

.black{
  font-weight: 900;
}

h1 {
   /* Default font, size, and margins */
   font-size: 88px;
   
   
}

h2 {
  /* Default font, size, and margins */
   font-size: 38px;
   
}

h3 {
  /* Default font, size, and margins */
  text-align: center;
  color: #231f20;
  font-size: 40px;
}

.colonnes{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bloc{
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  padding: 50px;
}

.bold{
  font-weight: 700;
}

.subtitle1{
  font-size: 24px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.subtitle2{
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}

.para1{
  font-size: 16px;
  text-align: justify;
}

.para2{
  font-size: 24px;
  text-align: justify;
  color: #ffffff;
}
.ordinateur-1 {
  object-fit: contain;
  display: block;
  margin-left: auto;
  mix-blend-mode: darken;
}

.bloc-image1{
background-color: url(../img/bg-yellow.png);
text-align: center;
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/