
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #231f20;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

.header-stripe{
  font-family: 'Poppins';
  text-align: center;
  color: #ffffff;
  opacity: 0.81;
  margin: 8px 0;
  width: 100%;
  line-height: normal;
  letter-spacing: normal;

}
.header-stripe-yellow{
  background-color: #fcce00;
  height: 128px;
}

.header-stripe-orange{
  background-color: #ff6b00;
  height: 64px;
}

.header-stripe-red{
  background-color: #e02020;
  height: 32px;

}

.header-stripe-purple{
  background-color: #b620e0;
  height: 16px;

}

.header-stripe-blue{
  background-color: #6236ff;
  height: 8px;

}

.black{
  font-weight: 900;
}

h1 {
   /* Default font, size, and margins */
   font-size: 88px;
   
   
}

h2 {
  /* Default font, size, and margins */
   font-size: 38px;
   
}

h3 {
  /* Default font, size, and margins */
  text-align: center;
  color: #231f20;
  font-size: 40px;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.white {
  color:white;
}

.orange {
  color:#ff6b00;
}

.yellow {
  color:#fcce00;
}


.colonnes{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#wrapper {
  max-width:1440px;
  margin:auto;
}

.bloc{
  padding:48px;
  flex: 1 1;
}

.bold{
  font-weight: 700;
}

.light{
  font-weight: 300;
}

.subtitle1{
  font-size: 24px;
}

.subtitle2{
  font-size: 32px;
  color: #ffffff;
}

.para1{
  font-size: 16px;
}

.para2{
  font-size: 24px;
  color: #ffffff;
}
.ordinateur-1 {
  object-fit: contain;
  display: block;
  margin-left: auto;
}

.bloc.image1 {
    background-image: url("../img/bg-yellow.png");
    background-repeat: repeat-x;
}

.bloc.image2 {
  background-image: url("../img/bg-orange.png");
  background-repeat: repeat-x;
}

.colonnes.red {
  background-image: url("../img/bg-red.png");
  background-repeat: repeat-x;
}

.colonnes.blue {
  background-image: url("../img/bg-blue.png");
  background-repeat: repeat-x;
}

.colonnes.purple {
  background-image: url("../img/bg-violet.png");
  background-repeat: repeat-x;
}

.wrapper-button {
  margin: 30px 0;
}

a.button {
  border-radius:15px;
  border: solid 4px;
  padding:10px 36px;
  text-decoration: none;
  display: inline-block;
  width: 185px;
}

.button.yellow {
  color:#fcce00;
  border-color:#fcce00;
}

.button.orange {
  color:#ff6b00;
  border-color:#ff6b00;
}

.button.white {
  color:#ffffff;
  border-color:#ffffff;
}

.colonnes img {
  mix-blend-mode: darken;
}

.container .row {
  display: flex;
  justify-content: space-around;
  margin-top:32px;
}

.container .row-wrapper {
  position: relative;
  text-align: center;
}


.container .row-wrapper:hover img{
  opacity: 0.2;
  transition: .3s ease;
}

.container .row-wrapper:hover .overlay{
  display: block;
}

.bgblack {
  background-color: #231f20;
  padding: 20px 0 600px 0;
  margin: 20px 0;
}

.container .row .overlay {
  position:absolute;
  width: 100%;
  padding:16px;
  top:0;
  display: none;
}

.container .row .overlay p, .container .row .overlay span {
  font-weight: 200;
}

.container .row h4 {
  font-size: 32px;
  margin:10px 0 32px 0;
}

form {
  display: flex;
  justify-content: space-around;
  height: 212px;
  max-width: 920px;
  margin: auto;
}

form label {
  font-size: 16px;
  font-weight: 200;
  display: block;
  margin-top: 5px;
}

form .form-left {
  width:270px;
}

form .form-right {
  width:560px;
}

form input, form select {
  width:100%;
  height:38px;
  border-radius: 8px;
  box-shadow: none;
}

form textarea {
  width: 100%;
  border-radius: 8px;
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/